*.pyc
*~

tests/data/log
tests/data/output*
tests/data/reference/gistest/*/dpre.extracted/
tests/grassdata/smoderp2d-location/test/
tests/grassdata/smoderp2d-location/PERMANENT/cell_misc/w001001/reclassed_to
tests/grassdata/smoderp2d-location/stream_prep/
tests/grassdata/smoderp2d-location/water
tests/log

/bin/arcgis/old/

# jetbrains
.idea/

# direnv
.envrc
.direnv
