version: "3"
services:
  nginx:
    restart: unless-stopped
    build: .
    image: smoderp_wps_demo
    container_name: smoderp_wps_demo_1
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt/
      - ./nginx/conf.letsencrypt/:/etc/nginx/conf.d/
      - ./pywps/:/opt/pywps
    ports:
      - 8080:80
      - 4444:443
    environment:
      - NGINX_HOST=rain1.fsv.cvut.cz
      - NGINX_PORT=4444
