name: CMD provider

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  smoderp2d-quicktest:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config quicktest.ini

  # smoderp2d-longtest:
  #   strategy:
  #     matrix:
  #       python-version:
  #         # - "2.7"
  #         - "3.9"
  #         - "3.11"

  #   uses: ./.github/workflows/cmd_template.yml
  #   with:
  #     python-version: ${{ matrix.python-version }}
  #     pytest-suite: tests/test_cmd.py --config test.ini

  profile1d:
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_profile1d.py
 