name: CMD provider consistency test reusable workflow

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      pytest-suite:
        required: true
        type: string
      mfda:
        required: false
        type: boolean
        default: false

jobs:
  consistency_test:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install Python dependencies
        run: |
          pip install -r .github/workflows/requirements.txt          
          pip install -r .github/workflows/requirements${{ inputs.python-version }}.txt
        if: ${{ inputs.mfda == false }}
          mv tests/config_files/mfda_config.ini smoderpsd/.config.ini

      - name: Run command test suite
        run: |
          pytest ${{ inputs.pytest-suite }}
