name: CMD provider

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  smoderp2d-quicktest-sheet:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/quicktest_sheet.ini

  smoderp2d-quicktest-rill:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/quicktest_rill.ini

  smoderp2d-quicktest-sheet-stream:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/quicktest_sheet_stream.ini

  smoderp2d-quicktest-rill-mfda:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/quicktest_rill_mfda.ini

    steps:
      - name: Run command test suite
        run: |
          mv tests/config_files/mfda_config.ini smoderpsd/.config.ini
          pytest ${{ inputs.pytest-suite }}

  smoderp2d-quicktest-stream-rill:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/quicktest_stream_rill.ini

  smoderp2d-longtest-sheet:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/test_sheet.ini

  smoderp2d-longtest-rill:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/test_rill.ini

  smoderp2d-longtest-sheet-stream:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/test_sheet_stream.ini

  smoderp2d-longtest-stream-rill-mfda:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/test_stream_rill_mfda.ini

  smoderp2d-longtest-stream-rill:
    strategy:
      matrix:
        python-version:
          # - "2.7"
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_cmd.py --config config_files/test_stream_rill.ini

  profile1d:
    strategy:
      matrix:
        python-version:
          - "3.9"
          - "3.11"

    uses: ./.github/workflows/cmd_template.yml
    with:
      python-version: ${{ matrix.python-version }}
      pytest-suite: tests/test_profile1d.py
 
