name: GRASS GIS provider

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  consistency-quicktest:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04
    container:
      image: osgeo/grass-gis:releasebranch_8_3-debian

    steps:
      - uses: actions/checkout@v3

      - name: Install Python dependencies
        run: |
          pip3 install --break-system-packages -r .github/workflows/requirements.txt
          pip3 install --break-system-packages -r .github/workflows/requirements3.11.txt

      - name: Install smoderp2d
        run: |
          pip3 wheel .
          pip3 install --break-system-packages smoderp2d-*.whl

      - name: Run GRASS test suite (rain_sim)
        run: |
          ./tests/run_grass_gistest.sh rain_sim

  consistency-longtest:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04
    container:
      image: osgeo/grass-gis:releasebranch_8_3-debian

    steps:
      - uses: actions/checkout@v3

      - name: Install Python dependencies
        run: |
          pip3 install --break-system-packages -r .github/workflows/requirements.txt
          pip3 install --break-system-packages -r .github/workflows/requirements3.11.txt

      - name: Install smoderp2d
        run: |
          pip3 install --break-system-packages .

      - name: Run GRASS test suite
        run: |
          ./tests/run_grass_gistest.sh nucice
