name: GRASS GIS provider

on:
  push:
    branches:
      - master
      - release_1_0
  pull_request:
    branches:
      - master
      - release_1_0

jobs:
  consistency_test:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04
    container:
      image: mundialis/grass-py3-pdal:latest-debian

    steps:
      - uses: actions/checkout@v3

      - name: Install Python dependencies
        run: |
          pip3 install -r .github/workflows/requirements3.11.2.txt

      - name: Run GRASS test suite
        run: |
          grass -c tests/grassdata/smoderp2d-location/test/ --exec pytest tests/test_grass.py
