name: GRASS GIS provider

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  consistency_test:
    strategy:
      fail-fast: false

    runs-on: ubuntu-22.04
    container:
      image: osgeo/grass-gis:releasebranch_8_3-debian

    steps:
      - uses: actions/checkout@v3

      - name: Install Python dependencies
        run: |
          pip3 install -r --break-system-packages .github/workflows/requirements.txt
          pip3 install -r --break-system-packages .github/workflows/requirements3.11.txt

      - name: Run GRASS test suite
        run: |
          grass -c tests/grassdata/smoderp2d-location/test/ --exec pytest tests/test_grass.py
